$font_path: "../assets/fonts/";

@font-face {
  font-family: 'EurostileLT-BoldExtendedTwo';
  src: url($font_path + '2D185A_0_0.eot');
  src:
    url($font_path + '2D185A_0_0.eot?#iefix') format('embedded-opentype'),
    url($font_path + '2D185A_0_0.woff2') format('woff2'),
    url($font_path + '2D185A_0_0.woff') format('woff'),
    url($font_path + '2D185A_0_0.ttf') format('truetype');}
